<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <!-- FOOTER -->
            <!-- Благодаря дополнительной библиотеке которую мы опционально подключали в pom мы моежм использовать
            вспомогательные теги и без особых трудностей выводить имя пользователя на странице
            ВАЖНО! Старайтесь писать на английском, даже если не имеете подобного опыта(переводчик),
            это сэкономит вам нервы(проблемы с кодировками, фильтры) и даст бесценный опыт в будущем -->
            <form method="post" th:action="@{/logout}" >
            <span sec:authorize="isAuthenticated()">| Пользоваель: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |

                   <a href="javascript:document.super.submit()" >Выйти</a>
            </span>
            </form>
            <script type="text/javascript" src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>