<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="/"><img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg"
                                              class="d-inline-block align-top" alt="viviv">viviv</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <form th:case="${true}" method="post" th:action="@{/logout}" name="super">
                        <input type="submit" class="btn btn-primary" value="Выйти"/>
                    </form>
                    <a th:case="${false}" class="btn btn-primary" href="/login">Войти</a>
                </div>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>