<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css"/>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">viviv</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-header">
            <h1><a class="navbar-brand" th:href="@{/}"></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
            <a th:href="@{/user/}">Cтраница пользователя</a>
        </div>
        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
            <a th:href="@{/user/profile}">Профиль пользователя</a>
        </div>
        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
            <a th:href="@{/user/friends}">Друзья пользователя</a>
        </div>
        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
            <a th:href="@{/user/}">Cтраница пользователя</a>
        </div>

        <div class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
            <form method="post" th:action="@{/logout}" name="super">
                <a href="javascript:document.super.submit()" style="align: center">Выйти</a>
            </form>
        </div>
    </nav>
</div>

</body>
</html>