<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ru">
<head>
</head>
<body>
<div th:fragment="menu" sec:authorize="isAuthenticated()">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="${#authentication.getName()}">Моя страница</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/friends">Друзья</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/allUsers">Все анкеты</a>
        </li>
    </ul>
</div>
</body>
</html>