/*h1{*/
    /*color: #4a2bff;*/
/*}*/

/*h2{*/
    /*color: #ff171c;*/
/*}*/

/*footer{*/
    /*margin-top:60px;*/
/*}*/


.login-card{
    display: inline-block;
}

.card{
    display: inline-block;
}

.form-group.row{
    position: relative;
}

.form-group > div > small {
    position: absolute;
    top: 25px;
    left: 15px;
}

.custom-container{
    width: 100%;
    text-align: center;
}

.reg-text{
    text-align: left;
}

.custom-menu{
    padding-left: 15px;
}

.avatar-pic {
    width: 150px;
}