<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Анкеты</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>

    <div class="container col-8">
        <th:block th:with="colCount=${4}">
            <div th:each="r : ${#numbers.sequence(0, users.size(), colCount)}" class="row">
                <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c &lt; users.size()}"
                     class="col-3">

                    <div class="card custom-card">
                        <a th:href="${users.get(r + c).getUserDto().username}"><img class="card-img-top"
                                                                                    th:src="@{'data:image/jpg;base64,' + ${users.get(r + c).getProfileDto().getAvatarImage()}}"></a>
                        <div class="card-block">
                            <h4 class="card-title" th:text="${users.get(r + c).getUserDto().username}"></h4>
                            <!--<div class="card-text">-->
                                <!--<form name="f" th:action="@{/addFriend}" method="post">-->
                                    <!--<input type="hidden" name="friendUsername"-->
                                           <!--th:value="${users.get(r + c).getUserDto().username}"/>-->
                                    <!--<button type="submit">В друзья</button>-->
                                <!--</form>-->
                                <!--&lt;!&ndash;<td th:text="${friends.get(r + c).username}">...</td>&ndash;&gt;-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>