<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <title>Друзья</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">

    <div class="starter-template">
        <h1>Друзья пользователя </h1>
        <h1 th:inline="text">Привет [[${#httpServletRequest.remoteUser}]]!</h1>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>