<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <title>Друзья</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <th:block th:with="colCount=${4}">
        <div th:each="r : ${#numbers.sequence(0, friends.size(), colCount)}" class="row">
            <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c &lt; friends.size()}" class="col-3">

                    <div class="card">
                        <a th:href="${friends.get(r + c).username}"><img class="card-img-top"
                                                             src="https://picsum.photos/200/150/?random"></a>
                        <div class="card-block">
                            <h4 class="card-title" th:text="${friends.get(r + c).username}"></h4>
                            <div class="card-text">
                                <form name="f" th:action="@{/addFriend}" method="post">
                                    <input type="hidden" name="friendUsername" th:value="${friends.get(r + c).username}"/>
                                    <button type="submit">В друзья</button>
                                </form>
                                <!--<td th:text="${friends.get(r + c).username}">...</td>-->
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </th:block>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>