<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <title>Друзья</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/200/150/?random">
            <div class="card-block">
                <h4 class="card-title">Tawshif Ahsan Khan</h4>
                <div class="meta">
                    <a href="#">Friends</a>
                </div>
                <div class="card-text">
                    Tawshif is a web designer living in Bangladesh.
                </div>
            </div>
            <div class="card-footer">
                <span class="float-right">Joined in 2013</span>
                <span><i class=""></i>75 Friends</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>