<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Портал для общения ::VIVIV::</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>

    <div class="container col-8">
        
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>