<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Портал для общения ::VIVIV::</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
    Start page




<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form method="get" th:action="@{/admin/}">
        <button type ="submit">Меню администратора</button>
    </form>
</div>

    <br>

<div sec:authorize="isAuthenticated()">
    <form method="get" th:action="@{/user/}">
        <button type ="submit">Страница пользователя</button>
    </form>
</div>

<br>



<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <span th:case="${false}">
            Вы ещё не авторизовались. <a href="/login"> Войти</a>
            <form method="get" th:action="@{/registration}" >
            <button type ="submit">Регистрация нового пользователя</button>
    </form>
    </span>
    <span th:case="${true}">Вы авторизовались как <div th:text="${#authentication.name}"></div></span>
    <span th:case="*">Should never happen, but who knows...</span>
</div>


<br>




<div th:replace="fragments/footer :: footer"/>
</body>
</html>