<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <title>Портал для общения ::VIVIV::</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/menu :: menu"></div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form method="get" th:action="@{/admin/}">
        <button type ="submit">Меню администратора</button>
    </form>
</div>

<!--<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">-->
    <!--<span th:case="${false}">-->
            <!--Вы ещё не авторизовались. <a href="/login"> Войти</a>-->
            <!--<form method="get" th:action="@{/registration}" >-->
            <!--<button type ="submit">Регистрация нового пользователя</button>-->
    <!--</form>-->
    <!--</span>-->
    <!--<span th:case="${true}">Вы авторизовались как <div th:text="${#authentication.name}"></div></span>-->
<!--</div>-->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>