<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.w3.org/1999/xhtml">
<head th:insert = "~{head:: headerFragment(User-info)}"></head>
<body>
    <div>
        <div th:insert = "~{my-header :: header-fragment(Info)}"></div>
    </div>

    <div sec:authorize = "isAuthenticated()">
        Authenticated username:
        <div sec:authentication = "principal.username"></div>
        Authenticated user roles:
        <div sec:authentication = "principal.authorities"></div>
    </div>
</body>
</html>