<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Профиль</title>
</head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>

    <div class="container col-8" sec:authorize="isAuthenticated()">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="photo">
                            <img class="profile-img" th:src="@{'data:image/jpg;base64,' + ${profileView.getProfileDto().getAvatarImage()}}"
                                 alt="">
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="title-block">
                            <h1>
                                <div th:text="${profileView.username}"></div>
                            </h1>

                            <div>
                                <ul class="info-list">

                                    <li><span class="title">Имя</span><span class="value" th:text="${profileView.getProfileDto().getFirstname()}">  </span>
                                    </li>
                                    <li><span class="title">Фамилия</span><span class="value" th:text="${profileView.getProfileDto().getLastname()}">  </span>
                                    </li>
                                    <li th:if="${profileView.profileDto.age == 0}"><span class="title">Возраст</span><span class="value"></span></li>
                                    <li th:unless="${profileView.profileDto.age == 0}"><span class="title">Возраст</span><span class="value" th:text="${profileView.profileDto.age}"></span></li>
                                    <li><span class="title">Пол</span><span class="value" th:text="${profileView.profileDto.charSex}"></span></li>
                                    <li><span class="title">E-mail</span><span class="value"><a
                                            th:href="'mailto:' + ${profileView.getEmail()}"
                                            th:text="${profileView.getEmail()}"></a></span></li>
                                    <li><span class="title">Телефон</span><span class="value" th:text="${profileView.getProfileDto().phone}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>