<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <!--<script type="text/javascript" th:href="@{/js/upload.js}"></script>-->
    <title>Профиль</title>
</head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>
    <!--<div class="site-main col-8">-->
    <div class="container col-8" sec:authorize="isAuthenticated()">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="photo">
                            <img th:src="@{images/default.jpg}" alt="">
                            <form class="upload" method="POST" enctype="multipart/form-data" th:action="@{upload}">
                                <label class="btn btn-primary">
                                    Выбрать<input type="file" onchange="this.form.submit()" class="form-control-file" name="file" hidden>
                                </label>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="title-block">
                            <h1>
                                <div th:text="${#authentication.name}"></div>
                            </h1>

                            <div class="col-lg-3">
                                <ul class="info-list">
                                    <li><span class="title">Возраст</span><span class="value"> 30 </span></li>
                                    <li><span class="title">Пол</span><span class="value"> М </span></li>
                                    <li><span class="title">Страна</span><span class="value"> Россия </span></li>
                                    <li><span class="title">Город</span><span
                                            class="value"> Москва </span></li>
                                    <li><span class="title">E-mail</span><span class="value"><a
                                            href="mailto:"></a></span></li>
                                    <li><span class="title">Телефон</span><span class="value">+7-800-222-22-22</span>
                                    </li>
                                    <li><span class="title">Интересы</span><span
                                            class="value">Разные</span></li>
                                </ul>


                            </div>

                            <div class="block-title">
                                <h3>Обо мне</h3>
                            </div>
                            <div class="col-lg-3 about-me">
                                <p>Привет. Здаесь будет написано немного обо мне.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>