<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Профиль</title>
</head>
<body class="bg-light">
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>

    <div class="container col-8" sec:authorize="isAuthenticated()">
        <div class="section-inner start-page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-4">
                        <div class="photo">
                            <img class="profile-img"
                                 th:src="@{'data:image/jpg;base64,' + ${profileQuestion.getProfileDto().getAvatarImage()}}"
                                 alt="">
                            <form class="upload" method="POST" enctype="multipart/form-data" th:action="@{upload}">
                                <label class="btn btn-primary">
                                    Выбрать<input type="file" onchange="this.form.submit()" class="form-control-file"
                                                  name="file" hidden>
                                </label>
                            </form>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="title-block">
                            <h1>
                                <div th:text="${#authentication.name}">
                                </div>

                            </h1>

                            <div>
                                <form th:action="${#authentication.name + '/editProfile'}" th:object="${profileQuestion.profileEditDto}" method="post">
                                    <ul class="info-list">
                                        <li><span class="title">Имя</span><span class="value" name="firstname" id="firstname"
                                                                                th:value="${profileQuestion.getProfileDto().getFirstname()}">  </span>
                                        </li>
                                        <li><span class="title">Фамилия</span><span class="value" name="lastname" id="lastname"
                                                                                    th:value="${profileQuestion.getProfileDto().getLastname()}">  </span>
                                        </li>
                                        <li><span class="title">Возраст</span><div class="value" name="age" id="age"
                                                                                    th:value="${profileQuestion.getProfileDto().age}">  </div>
                                        </li>
                                        <li><span class="title">Пол</span><span class="value" name="cSex" id="cSex"
                                                                                th:value="${profileQuestion.getProfileDto().getCharSex()}"> </span>
                                        </li>
                                        <!--<li><span class="title">Страна</span><span class="value">  </span></li>-->
                                        <!--<li><span class="title">Город</span><span-->
                                        <!--class="value">  </span></li>-->
                                        <li><span class="title">E-mail</span><span class="value"><a
                                                th:href="'mailto:' + ${profileQuestion.getEmail()}"
                                                th:text="${profileQuestion.getEmail()}"></a></span></li>
                                        <li><span class="title">Телефон</span><span class="value" name="phone" id="phone"
                                                                                    th:value="${profileQuestion.getProfileDto().phone}"></span>
                                        </li>
                                        <!--<li><span class="title">Интересы</span><span-->
                                        <!--class="value">Разные</span></li>-->
                                    </ul>
                                    <button type="submit" class="btn btn-primary btn-block">Редактировать</button>

                                    <!--<p class="text-center"><a href="/edit-profile" class="btn btn-primary btn-block">Редактировать</a>-->
                                    </p>
                                </form>
                            </div>

                            <div class="block-title">
                                <h3>Обо мне</h3>
                            </div>
                            <div>
                                <p>Здесь будет написано немного обо мне.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-6">
                        <div class="row">
                            <h4 class="col-3">Вопросы</h4>
                            <p class="text-center"><a href="/question" class="btn btn-primary btn-block">Заполнить</a>
                            </p>
                        </div>
                        <tr th:each="i : ${#numbers.sequence(profileQuestion.getQuestionsDto().size() - 1, 0, -1)}">
                            <label th:text="${profileQuestion.getQuestionsDto().size() - i} + '. ' + ${profileQuestion.getQuestionsDto()[i].question}"></label>
                            <p class="form-control"
                               th:text="'Ответ: ' + ${profileQuestion.getQuestionsDto()[i].answer}"></p>
                        </tr>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>