<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <!--<script type="text/javascript" th:href="@{/js/upload.js}"></script>-->
    <title>Профиль</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="row">
    <div th:replace="fragments/menu :: menu" class="col-4"></div>

    <div class="container col-8" sec:authorize="isAuthenticated()">

        <form method="POST" enctype="multipart/form-data"
              th:action="@{upload}">
            Файл для загрузки: <input type="file" name="file">
            <br/>
            <input type="submit" value="Загрузить">
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>