<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="card">

        <div th:each="answerSuggest : ${answerSuggests}">
            <label th:if="${answerSuggest.access != true}" th:text="'Вопрос: ' + ${answerSuggest.question}"></label>
            <form th:action="@{/questionnaire}" th:object="${answerSuggest}" method="POST">
                <div th:if="${answerSuggest.status == true && answerSuggest.access != true}" style="background: lightgreen">
                    <textarea disabled class="form-control" name="answerSuggest" rows="1" th:text="${answerSuggest.getAnswerSuggest()}"></textarea>
                    <input disabled type="submit" class="btn btn-primary" value="Проверить"/>
                </div>
                <div th:if="${answerSuggest.status == false && answerSuggest.access != true}" style="background: lightcoral">
                    <textarea disabled class="form-control" name="answerSuggest" rows="1" th:text="${answerSuggest.getAnswerSuggest()}"></textarea>
                    <input disabled type="submit" class="btn btn-primary" value="Проверить"/>
                </div>
                <div th:if="${answerSuggest.status == null && answerSuggest.access != true}">
                    <textarea class="form-control" rows="1" name="answerSuggest" th:value="${answerSuggest.answerSuggest}"></textarea>
                    <input type="submit" class="btn btn-primary" value="Проверить"/>
                </div>
                <div th:if="${answerSuggest.access == true}">
                    <p class="text-center"><a th:href="${answerSuggest.questionAuthor}" class="btn btn-primary btn-block col-5">Перейти</a></p>
                </div>
                <input type="hidden" name="status" id="status" th:value="${answerSuggest.getStatus()}">
                <input type="hidden" name="questionAuthor" id="questionAuthor" th:value="${answerSuggest.getQuestionAuthor()}">
                <input type="hidden" name="question" id="question" th:value="${answerSuggest.getQuestion()}">
                <input type="hidden" name="username" id="username" th:value="${answerSuggest.getUsername()}">
            </form>
            <hr>
        </div>

    </div>

</div>
</body>
</html>