<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <title>Регистрационная форма</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div >
        <h1 th:text="#{label.form.registration}">форма</h1>
        <br/>
        <form th:action="@{/registration}" th:object="${user}" method="POST" oninput='password.setCustomValidity(password.value !== matchPassword.value ? "Пароли не совпадают." : "")' >
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.username}">username</label>
                <span class="col-sm-5"><input type="text" class="form-control" th:field="*{username}" required="required"/></span>
                <span id="usernameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                <p th:each="error : ${#fields.errors('username')}" th:text="${error}">Validation error</p>

            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.email}">email</label>
                <span class="col-sm-5"><input type="email" class="form-control" th:field="*{email}" required="required"/></span>
                <!--<span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>-->
                <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.password}">password</label>
                <span class="col-sm-5"><input id="password" class="form-control" name="password" th:field="*{password}" type="password" required="required"/></span>
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" th:text="#{label.user.confirmPass}">confirm</label>
                <span class="col-sm-5"><input id="matchPassword" class="form-control" name="matchPassword" th:field="*{matchingPassword}" type="password" required="required"/></span>
                <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
        </form>
        <br/>
        <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
    </div>
</div>
</body>
</html>