<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>PERSON-EDIT</title>
</head>
<body>

<form th:action="@{/admin/user-save}"
      th:object="${user}" method="POST">

    <table width="100%" cellspacing="10" cellpadding="10" border="1" style="border-collapse: collapse;">
        <tr>
            <td width="200" nowrap="nowrap">ID:</td>
            <td width="100%"><label th:text="*{id}" /></td>
        </tr>
        <tr>
            <td>
                User Name:
            </td>
            <td >
                <input type="text" size="100" th:field="*{username}" />
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td >
                <input type="text" size="100" th:field="*{email}" />
            </td>
        </tr>

        <tr>
            <td width="20%" th:utext="${user.roleConnections}" align="center" >...</td>
            <td>
                <label>Admin</label>
                <input type="checkbox" th:checked="${role.isAdmin()}"/>
                <br>
                <label>User</label>
                <input type="checkbox" th:checked="${role.isUser()}" />
            </td>

            <!--<td>-->
                <!--RoleConnectionId-->
            <!--</td>-->
            <!--<td>-->
                <!--Role-->
            <!--</td>-->
            <!--&lt;!&ndash;<td th:each="roleConnection, itemStat: *{roleConnections}">&ndash;&gt;-->
            <!--<td><label th:label="*{ro}" /></td>-->

            </td>
        </tr>
        <tr>
            <td>
                Active:
            </td>
            <td>
                <input type="checkbox" th:checked="*{enabled}" />
            </td>
        </tr>
    </table>

    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th> RoleConnectionId</th>-->
            <!--<th> Role</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="roleConnection, itemStat : *{roleConnections}">-->
            <!--<td><input th:field="*{roleConnections[${itemStat.current.id}].id}" /></td>-->
            <!--<td><input th:field="*{roleConnections[${itemStat.current.role}].role}" /></td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <br/>
    <button type="submit" style="font-size: 2em;" >SAVE</button>

</form>

</body>
</html>