<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>PERSON-EDIT</title>
</head>
<body>

<form th:action="@{/admin/user-save}"
      th:object="${user}" method="POST">

    <table width="100%" cellspacing="10" cellpadding="10" border="1" style="border-collapse: collapse;">
        <tr>
            <td width="200" nowrap="nowrap">ID:</td>
            <td width="100%"><label th:text="*{id}" /></td>
        </tr>
        <tr>
            <td>
                Id:
            </td>
            <td >
                <label>
                    <input type="text" size="100" th:field="*{id}" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                User Name:
            </td>
            <td >
                <label>
                    <input type="text" size="100" th:field="*{username}" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td >
                <label>
                    <input type="text" size="100" th:field="*{email}" />
                </label>
            </td>
        </tr>

        <tr>
            <td width="20%" th:utext="${user.roleConnections}" align="center" >...</td>
            <td>
                <label th:text="Admin"></label>
                    <input type="checkbox" name="isAdmin" th:checked="${role.getIsAdmin()}"/>
            </td>
        </tr>
        <tr>
            <td>
                Active:
            </td>
            <td>
                <input type="checkbox" name="enabled" th:checked="*{getEnabled()}" />
            </td>
        </tr>
    </table>

    <br/>
    <button type="submit" style="font-size: 2em;" >SAVE</button>

</form>

</body>
</html>